.root {
  table-layout: fixed;
  width: 100%;
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-9)
  );
}

.score-label {
  text-align: right;
}

.score-value {
  text-align: left;

  &:not([data-value="0"]) {
    color: var(--mantine-color-green-5);
  }
}
