.highlight-left,
.highlight-center,
.highlight-right {
  flex-grow: 1;
  display: flex;
  align-items: center;
  height: 40px;
  padding-right: 16px;
}

.highlight-left {
  justify-content: left;
}

.highlight-center {
  justify-content: center;
}

.highlight-right {
  justify-content: right;
}
