.root {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 8px;
  margin: 2px;
  border-radius: var(--mantine-radius-sm);
  cursor: pointer;

  background-color: transparent;
  &[data-selected="true"] {
    background-color: var(--mantine-primary-color-light);
  }

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-3),
      var(--mantine-color-dark-5)
    );
    &[data-selected="true"] {
      background-color: var(--mantine-primary-color-light-hover);
    }
  }
}
.classIcon {
  margin-right: 8px;
  width: 24px;
}
.playerName {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.pointsScoreboardValue {
  text-align: right;
}
.simpleScoreboardValue {
  width: 32px;
  text-align: right;
}
