.root {
  width: 50%;
  height: 32px;

  /* This accounts for the 8px of padding + 2px of margin of the table entries */
  padding-inline: 10px;
  display: inline-flex;
  align-items: center;
  line-height: 1;
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
}

.player-column {
  flex-grow: 1;
}

.small-column {
  width: 32px;
  text-align: right;
}

.score-column {
  text-align: right;
}
