.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  --total-height: 120px;
  --textbox-height: 24px;
  --image-aspect-ratio: calc(16 / 9);
  --width: calc(
    (var(--total-height) - var(--textbox-height)) * var(--image-aspect-ratio)
  );
  --border: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.img,
.img-fallback {
  height: calc(var(--total-height) - var(--textbox-height));
  width: var(--width);
}

.img-fallback {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: var(--border);
  border-bottom: var(--border);
}

.text-box {
  height: var(--textbox-height);
  border-right: var(--border);
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: var(--width);
  line-height: var(--textbox-height);
  text-align: center;
}
