.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.history-row {
  display: flex;
  align-items: center;
  padding: 4px;
  /* biome-ignore lint/suspicious/noDuplicateFontNames: https://stackoverflow.com/questions/38781089/font-family-monospace-monospace */
  font-family: monospace, monospace;
  white-space: pre-wrap;
}

.history-row-icon {
  align-self: flex-start;
}

.history {
  flex-grow: 1;
}

.input-wrapper {
  width: 100%;
  border-top: 1px solid var(--mantine-color-default-border);
}

.input {
  /* biome-ignore lint/suspicious/noDuplicateFontNames: https://stackoverflow.com/questions/38781089/font-family-monospace-monospace */
  font-family: monospace, monospace;
}
