.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.history-row {
  display: flex;
  align-items: center;
  padding: 4px;
  font-family: var(--mantine-font-family-monospace);
  white-space: pre-wrap;
}

.history-row-icon {
  align-self: flex-start;
}

.history {
  flex-grow: 1;
}

.input-wrapper {
  width: 100%;
  border-top: 1px solid var(--mantine-color-default-border);
}

.input {
  font-family: var(--mantine-font-family-monospace);
}
