/* Important: don't give filters any style that changes their size or layout, such as font-weight!*/

.filter {
  color: var(--mantine-primary-color-light-color);

  background-color: var(--mantine-primary-color-light);
  border-radius: var(--mantine-radius-sm);
  padding-inline: 1px;
  margin-inline: -1px;
}

.invalid-filter {
  .filter-key {
    text-decoration: underline wavy;
    text-decoration-color: var(--mantine-color-red-filled);
  }
}
