.root {
  height: 100%;
}

.row {
  display: flex;
  gap: var(--mantine-spacing-xs);
}

.row-label {
  width: 160px;
  font-size: 16pt;
}

.viewport {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-sm);
  margin: var(--mantine-spacing-sm);
}
