.root {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 8px;
}

.button-bar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 2px;
}

.toggle-button[data-checked="false"]{
  background-color: var(--mantine-color-gray-9);

  @mixin hover {
    background-color: var(--mantine-color-gray-7);
  }

  & :pressed {
    background-color: var(--mantine-color-gray-8);
  }
}

