.header {
  width: 50%;
  display: inline-flex;
  justify-content: space-between;
  padding: 8px;
}

.divider {
  height: 4px;
  width: 100%;
  background: linear-gradient(
    90deg,
    var(--mantine-color-blue-7) 0%,
    var(--mantine-color-blue-7) 50%,
    var(--mantine-color-red-7) 50%,
    var(--mantine-color-red-7) 100%
  );
}

.player-list-column {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.spectator-list {
  padding: 8px;
  color: var(--mantine-color-dimmed);
  border-top: 1px solid var(--mantine-color-default-border);
}

.spectator-name {
  color: var(--mantine-color-text);
}
