.root {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 8px;
  margin: 2px;
  border-radius: var(--mantine-radius-sm);
  cursor: pointer;
  background-color: transparent;

  &[data-selected="true"] {
    background-color: var(--mantine-primary-color-light);
  }

  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-3),
      var(--mantine-color-dark-5)
    );

    &[data-selected="true"] {
      background-color: var(--mantine-primary-color-light-hover);
    }
  }
}

.class-icon {
  margin-right: 8px;
  width: 24px;
  margin-block: auto;
}

.player-name {
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.points-scoreboard-value {
  text-align: right;
}

.simple-scoreboard-value {
  width: 32px;
  text-align: right;
  flex-shrink: 0;
}
