.main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: light-dark(
    var(--mantine-color-gray-2),
    var(--mantine-color-dark-9)
  );
}

.header {
  display: flex;
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-6)
  );
}

.headerContent {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Because there are two buttons on the left and three on the right,
   * this is needed for centering */
  margin-left: 40px;
}

.navbar {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-7)
  );
}
