.rdt_TableCol {
  padding-left: 8px;
  padding-right: 8px;
}
.rdt_TableCell {
  padding-left: 8px;
  padding-right: 8px;
}
.rdt_TableHeadRow {
  padding: 0px 16px;
}
.rdt_TableBody {
  overflow: auto;
  height: 100vh;
  padding-left: 16px;
}
.rdt_TableBody::-webkit-scrollbar {
  width: 16px;
}
.rdt_TableBody::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  min-height: 64px;
  transition: border 2s;
}
.rdt_TableBody::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}
.rdt_TableBody::-webkit-scrollbar-track {
  background-color: transparent;
}
