.main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: light-dark(
    var(--mantine-color-gray-2),
    var(--mantine-color-dark-9)
  );
}

.header {
  display: flex;
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-6)
  );
}

.header-left,
.header-center,
.header-right {
  flex-basis: 0;
  display: flex;
  align-items: center;
}

.header-left {
  justify-content: left;
  flex-grow: 1;
}

.header-center {
  justify-content: center;
  flex-grow: 2;
}

.header-right {
  justify-content: right;
  flex-grow: 1;
}

.navbar-button {
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-5)
    );
  }
}
