.header-left,
.header-center,
.header-right {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.header-left {
  justify-content: left;
  width: 25%;
}

.header-center {
  justify-content: center;
  width: 50%;
}

.header-right {
  justify-content: right;
  width: 25%;
}
