.header-left,
.header-center,
.header-right {
  flex-basis: 0;
  display: flex;
  align-items: center;
}

.header-left {
  justify-content: left;
  flex-grow: 1;
}

.header-center {
  justify-content: center;
  flex-grow: 2;
}

.header-right {
  justify-content: right;
  flex-grow: 1;
}
