body {
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
}


/*
 * ===============================
 *           SCOREBOARD
 * ===============================
 */
.scoreboard {
  table-layout: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.scoreboard .score-label {
  text-align: right;
}

.scoreboard .score-value {
  text-align: left;
}

.scoreboard .score-value.zero-score {
  /* Use the default text color */
}

.scoreboard .score-value.non-zero-score {
  color: #2FDD24; /* Default HUD color */
}
